<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Contact Us</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <h2>Contact Information</h2>
        <p>If you have any questions or would like to get in touch, feel free to reach out!</p>
        <ul>
            <li><strong>Name:</strong> Hikmat Ramazanov</li>
            <li><strong>Email:</strong> <a href="mailto:hikmetramazanov@outlook.com">hikmetramazanov@outlook.com</a></li>
            <li><strong>GitHub:</strong> <a href="https://github.com/RamazanovTs" target="_blank">RamazanovTs</a></li>
            <li><strong>Instagram:</strong> <a href="https://www.instagram.com/hikmetrmznvv/" target="_blank">hikmetrmznvv</a></li>
        </ul>
    </main>
</body>
</html>
